# Global
.DS_Store
*.log

# Python (backend)
backend/venv/
__pycache__/
*.pyc
*.pyo
.env

# Node/Vue (frontend)
frontend/node_modules/
frontend/dist/
frontend/.vite/

# OS/System files
Thumbs.db
*.swp
